# Amazon Location Service API key.
# Defaults to using MapLibre demo tiles if not provided.
VITE_AMAZON_LOCATION_KEY=

# Only used when Amazon location service API key is defined
VITE_AWS_REGION=us-east-1
VITE_MAP_STYLE=Monochrome
